---
---

/* Reset */
html, body, div, object, h1, h2, h3, h4, h5, h6, p, blockquote, object, iframe, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure, hgroup, span, aside, pre, a, img, tr, th, td, tbody, tfoot, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

$min-width--sm: 300px;
$min-width--md: 600px;
$min-width--lg: 800px;

@mixin min-width($media) {
 @media only screen and (min-width: $media) { @content; }
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

header, footer, nav, section, article, main, figure, li {
	display: block;
}

body {
line-height: 1;
font-weight: 400;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

nav {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  ul {
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	color: #999;
    margin-top: .5em;
    font-size: 1.125em;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a, a:visited, a:hover, a:active {
    display: block;
    padding-right: .5em;
    text-decoration: none;
    color: #999;
  }

  a:hover, a:active {
  display: block;
  padding-right: .5em;
  text-decoration: none;
  color: tint(#999, 30%);
  }

}

  a, a:visited {
    text-decoration: none;
    color: #136069;
  }

  a:hover, a:active {
    text-decoration: none;
    color: tint(#136069, 30%);
  }

.wrapper {
	margin: 0 auto;
    width: 90%;
    padding-top: 2em;
    @include min-width($min-width--md) {
      width: 75%;
  }
    @include min-width($min-width--lg) {
      width: 60%;
  }
}

.main {
  margin: 1.5em auto;
}



.title {
	font-size: 1.25em;
  color: tint(#0D3440, 30%);
    a, a:visited {
      text-decoration: none;
      color: tint(#0D3440, 30%);
    }
    a:hover, a:active {
    text-decoration: none;
      color: tint(#0D3440, 60%);
    }
  @include min-width($min-width--md) {
      font-size: 2em;
  }
    @include min-width($min-width--lg) {
      font-size: 2.5em;
  }
}

.title-b {
  font-size: 1.25em;
    color: #000;
    a, a:visited, a:hover, a:active {
      text-decoration: none;
      color: tint(#000, 30%);
    }
  @include min-width($min-width--md) {
      font-size: 2em;
  }
    @include min-width($min-width--lg) {
      font-size: 2.5em;
  }
}

.alt {
	font-size: 2em;
	font-style: italic;
	margin: 0;
	font-weight: 300;
	background: -webkit-linear-gradient(#fff, #ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    @include min-width($min-width--md) {
      font-size: 2em;
    }
    @include min-width($min-width--lg) {
      font-size: 3em;
    }
}

.alt-b {
  font-size: 2em;
  font-style: italic;
  margin: 0;
  font-weight: 300;
  color: #ccc;
  @include min-width($min-width--md) {
      font-size: 2em;
    }
    @include min-width($min-width--lg) {
      font-size: 3em;
    }
}

.cover-img {
  display: block;
  margin: 0 auto;
}

p {
	font-size: 1em;
	line-height: 1.4;
	margin-top: .5em;
    @include min-width($min-width--md) {
      font-size: 1.25em;
    }
    @include min-width($min-width--lg) {
      font-size: 1.25em;
    }
}

footer {
		background: -webkit-linear-gradient(#ccc, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	text-transform: uppercase;
	margin-top: 2em;
	text-align: center;
		p {
			font-size: 1rem;
		}
}