---
---

/* Reset */
html, body, div, object, h1, h2, h3, h4, h5, h6, p, blockquote, object, iframe, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure, hgroup, span, aside, pre, a, img, tr, th, td, tbody, tfoot, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

$min-width--sm: 300px;
$min-width--md: 600px;
$min-width--lg: 800px;

@mixin min-width($media) {
 @media only screen and (min-width: $media) { @content; }
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

header, footer, nav, section, article, main, figure, li {
  display: block;
}

body {
line-height: 1.5;
height: 100%;
display: grid;
}

* {
  box-sizing: border-box; }

img {
 max-width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-auto-rows: 50%;
  grid-gap: 2.5em;
  margin-top: 1em;
  padding: 0;
  }

.two-column {
  display: grid;
  max-width: 85%;
  grid-template-columns: 40% 60%;
  margin: 2rem auto;
  grid-column-gap: 3em;
}

.hero {
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem;
}

.tile {
  display: grid;
  grid-row: span 2;
  align-items: center;
}

.tile a {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin-bottom: -7px; /* ugly hack */
}

.tile a:hover, .tile a:active {
  text-decoration: underline;
}

.caption {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 0;
    margin: 0;
    }

.caption a:hover, .caption a:active {
    text-decoration: underline;
}

.cover {
  filter: grayscale(100%);
}

.tile:nth-of-type(odd) {
    background-color: #5A6F78;
    .cover {
    opacity: 0;
    }
    .cover:hover {
    opacity: .2;
    z-index: 0;
    }
    .caption h3 {
    padding: 1rem;
    }
}

.tile:nth-of-type(even) {
    .cover {
    opacity: 100;
    }
}

.one-column {
  max-width: 70%;
  margin: 1.125rem auto;
}
.tile:nth-of-type(even):hover {
  background-color: rgba(90, 111, 120, .95);
  transition: opacity 1s ease;
    .cover {
    opacity: .2;
    z-index: 0;
    }
}

.article_meta {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  margin-top: 3rem;
}

  .caption h3 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    color: #DFB9A3;
    line-height: 1.4;
   }

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

nav {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  ul {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
    margin-top: 0;
    font-size: 1.125em;
    line-height: 1;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li { display: inline-block; 
  margin: 0;
  }

  a, a:visited, a:hover, a:active {
    padding-right: .5em;
    text-decoration: none;
    color: #999;
  }

  a:hover, a:active {
  padding-right: .5em;
  color: tint(#999, 30%);
  }

}

  a, a:visited {
    text-decoration: none;
    color: #136069;
  }

  a:hover, a:active {
    text-decoration: none;
    color: tint(#136069, 30%);
  }

.wrapper {
  margin: 0 auto;
    width: 90%;
    padding-top: 2em;
    @include min-width($min-width--md) {
      width: 75%;
  }
    @include min-width($min-width--lg) {
      width: 80%;
  }
}

.article-title {
  color: #5A6F78;
  font-size: 36px;
  margin-top: 0;
  line-height: 1;
}

.title {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
  color: tint(#0D3440, 30%);
    a, a:visited {
      text-decoration: none;
      color: tint(#0D3440, 30%);
    }
    a:hover, a:active {
    text-decoration: underline;
      color: tint(#0D3440, 60%);
    }
  @include min-width($min-width--md) {
      font-size: 2em;
  }
    @include min-width($min-width--lg) {
      font-size: 2.5em;
  }
}

.title-b {
  font-size: 1.25em;
    color: #000;
    a, a:visited, a:hover, a:active {
      text-decoration: none;
      color: tint(#000, 30%);
    }
  @include min-width($min-width--md) {
      font-size: 2em;
  }
    @include min-width($min-width--lg) {
      font-size: 2.5em;
  }
}

.alt {
  font-size: 1em;
  margin: 0;
  background: -webkit-linear-gradient(#fff, #ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    @include min-width($min-width--md) {
      font-size: 2em;
    }
    @include min-width($min-width--lg) {
      font-size: 2.5em;
    }
}

.alt-b {
  font-size: 2em;
  margin: 0;
  font-weight: 300;
  color: #ccc;
  @include min-width($min-width--md) {
      font-size: 2em;
    }
    @include min-width($min-width--lg) {
      font-size: 3em;
    }
}

.cover-img {
  display: block;
  margin: 0 auto;
}

p {
  font-size: 1em;
  line-height: 1.4;
  margin-top: .5em;
    @include min-width($min-width--md) {
      font-size: 1.25em;
    }
    @include min-width($min-width--lg) {
      font-size: 21px;
    }
}

.excerpt {
  border-bottom: 1px solid #ccc;
  padding: 2rem 0;

}

.story p {
  margin-top: 1rem;
}

.story p:first-of-type {
  font-size: 1.5em;
  line-height: 1.4;
}

.story ul {
  margin: 1em 0;
}

.story li {
  font-size: 21px;
}

footer {
  margin-top: 2em;
  text-align: center;
    p {
      font-size: 1rem;
    }
}

.tag {
font-size: 2rem;
font-weight: 500;
color: #ccc;
font-style: italic;
}

.date {
  font-style: italic;
  color: #A6A3A2;
  margin: .5rem 0;
  font-weight: normal;
}

.article-meta {
  margin-top: 1rem;
}

h5 {
  font-size: 1.25rem;
}

.story li {
  display: block;
}

footer {
  color: #999;
  margin-bottom: 3rem;
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
  color: #999;
}

.copyright {
   border-bottom: 1px solid #ccc;
}
